*.config
/TestProject7/bin
/TestProject7/obj
/TestProject7/obj/Debug/*.pdb
/TestProject7/obj/Debug/*.dll
/TestProject7/App.config
/TestProject7/TestResults
*.trx

TestResults
/TestProject7/*.config
/TestProject7/*.suo
bin
obj
suo
*.user
*.suo
