*.config
/TestProject7/bin
/TestProject7/obj
/TestProject7/obj/Debug/*.pdb
/TestProject7/obj/Debug/*.dll
/TestProject7/App.config
/TestProject7/TestResults
*.trx

TestResults
/TestProject7/*.config
bin
obj
*.user
*.suo
